.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 16px rgba(255, 140, 105, 0.29);
  border-radius: 38px;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  &.primary {
    background: #ff7512;
  }

  &.secondary {
    background: rgba(3, 80, 99, 0.7);
  }

  &.tertiary {
  }

  &.disabled {
  }
}
