
.swiper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 3rem 0 0;
  position: relative;
  cursor: pointer;
  @include media('>=tablet') {
    padding: 7rem 0 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0;
  }

  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 1;
    }
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  @include media('>=tablet') {
    padding: 2rem 0 0;
  }

  &:nth-child(3) {
    .loyalty {
      .loyalty__wrap {
        .loyalty__img {
          margin-left: 120.8rem;
        }
        .loyalty__stock {
          @include media('>=tablet') {
            margin-bottom: 1.9rem;
          }
        }
      }
    }
  }
  &:nth-child(4) {
    .loyalty {
      .loyalty__wrap {
        .loyalty__img {
          top: 0;
          max-width: 72.9rem;
          width: 100%;
          margin-left: 109rem;
        }
        .loyalty__title {
          @include media('>=tablet') {
            margin-bottom: 3.5rem;
          }
        }
        .loyalty__stock {
          @include media('>=tablet') {
            margin-bottom: 3.5rem;
          }
        }
      }
    }
  }

  &:nth-child(5) {
    .loyalty {
      .loyalty__wrap {
        .loyalty__img {
          top: 5.4%;
          max-width: 72.9rem;
          width: 100%;
          margin-left: 115rem;
        }
        .loyalty__title {
          @include media('>=tablet') {
            margin-bottom: 0.5rem;
          }
        }
        .loyalty__text {
          margin-bottom: 0.3rem;
        }
        .loyalty__stock {
          @include media('>=tablet') {
            margin-bottom: 3.2rem;
          }
        }
        .loyalty__info {
          @include media('>=tablet') {
            margin-bottom: 3.7rem;
          }
        }
      }
    }
  }

  &:nth-child(6) {
    .loyalty {
      .loyalty__wrap {
        .loyalty__img {
          top: -2.1%;
          max-width: 72.9rem;
          width: 100%;
          margin-left: 115rem;
        }
        .loyalty__title {
          @include media('>=tablet') {
            margin-bottom: 0.5rem;
          }
        }
        .loyalty__text {
          margin-bottom: 0;
          line-height: 109%;
        }
        .loyalty__stock {
          @include media('>=tablet') {
            margin-bottom: 4.2rem;
          }
        }
      }
    }
  }
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  border: 2px solid #035063;
  border-radius: 50%;
  top: 55%;
  width: 5rem;
  height: 5rem;

  &::after {
    font-size: 3rem !important;
    color: #11839e;
  }
}
