.loyalty-sections {
  padding: 0 0 4rem;
  
  @include media('>=tablet') {
    padding: 1.7rem 0 12.6rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 31rem;
    background-color: rgba(239, 239, 239, 0.3);
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-position: 76% center;
    z-index: -1;
  }
}
.loyalty {
  width: 100%;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    @include media('>=tablet') {
      justify-content: flex-start;
      padding: 6.7rem 6.8rem;
    }
  }

  &__img {
    display: none;
    @include media('>=desktop') {
      display: block;
      position: absolute;
      max-width: 766px;
      width: 100%;
      left: -500px;
      margin-left: 105rem;
      top: -6.2%;
    }
  }

  &__stock {
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #035063;
    width: 8.1rem;
    height: 2.9rem;
    padding: 0.3rem 0.7rem;
    border-radius: 3.36145px;
    color: #ffffff;
    margin-bottom: 1.4rem;
  }
  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media('>=tablet') {
      align-items: flex-start;
    }
  }
  &__title {
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 30px;
    line-height: 117%;
    color: #035063;
    width: 100%;
    text-align: center;
    @include media('>=tablet') {
      margin-bottom: 2.5rem;
      text-align: left;
      max-width: 67rem;
      font-size: 48px;
    }
  }
  &__subtext {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-decoration-line: line-through;
    color: #333333;
  }
  &__text {
    display: block;
    margin-bottom: 0.8rem;
    font-weight: 800;
    font-size: 30px;
    line-height: 109%;
    color: #035063;
    text-align: center;
    @include media('>=tablet') {
      font-size: 46px;
    }
  }
  &__info {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #333333;
    opacity: 0.75;
    @include media('>=tablet') {
        margin-bottom: 2.5rem;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include media('>=tablet') {
      flex-direction: row;
    }
  }

  &__percent {
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #ff7512;
    border-radius: 4.99724px;
    width: 5.6rem;
    height: 3rem;
    position: relative;
    margin-bottom: 1rem;
    @include media('>=tablet') {
      margin-bottom: 0;
      margin-left: 4.9rem;
    }

    &::before {
      content: '';
      position: absolute;
      left: -9px;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid #ff7512;
      border-bottom: 10px solid transparent;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    width: 100%;
    @include media('>=tablet') {
      max-width: 20rem;
      height: 5rem;
    }
    .btn {
      width: 100%;
      font-weight: 700;
      font-size: 18px;
      line-height: 156%;
      color: #ffffff;
      padding: 1.1rem 5.2rem;
    }

    & + & {
      margin-top: 1rem;
      @include media('>=tablet') {
        margin-left: 2rem;
        margin-top: 0;
      }
    }
  }
}
.mb-22 {
  margin-bottom: 2.2rem !important;
}
