* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  @include font-smoothing(on);
  font-family: $primary-font;
  min-width: 320px;

  &.overflow {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1355px;
  padding: 0 2rem;
  margin: 0 auto;
}

// Scroll
.scroll-wrap::-webkit-scrollbar {
  width: 3px;
  background-color: #ccc;
}

.scroll-wrap::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

// Media
// @include media(">=desktop") {

// }
