.main-title {
  font-size: 3rem;
}

.section-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 111%;
    font-family: $four-font;
    color: #014751;
    margin-bottom: 1.5rem;
    @include media('>=tablet') {
        margin-bottom: 2.5rem;
        font-size: 36px;
    }
}

.base-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    font-family: $tertiary-font;
    color: #014751;
    max-width: 66.3rem;
    width: 100%;
    
}

.typography {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
}
