<section class="loyalty-sections">
    <div class="container">
        <h2 class="section-title">Акции и спецпредложения</h2>
        <p class="base-text">В данном разделе представлены акции от сети клиник «Медгород», представленная здесь
            информация полностью актуальна.</p>
        <div class="swiper js-loyalty">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url('assets/images/bg-slider.jpg');">
                    <div class="loyalty">
                        <div class="loyalty__wrap">
                            <div class="loyalty__col">
                                <span class="loyalty__stock">Акция</span>
                                <h2 class="loyalty__title">Он-лайн консультация любого врача-терапевта</h2>
                                <div class="loyalty__row">
                                    <span class="loyalty__subtext">1 700 руб.</span>
                                    <span class="loyalty__percent">-30%</span>
                                </div>
                                <span class="loyalty__text">1 190 руб.</span>
                                <span class="loyalty__info">Акция действует до 30.09.2021 г.</span>
                                <div class="loyalty__row">
                                    <div class="loyalty__btn">
                                        <button type="button" class="btn primary">Записаться</button>
                                    </div>
                                    <div class="loyalty__btn">
                                        <button type="button" class="btn secondary">Подробнее</button>
                                    </div>
                                </div>
                            </div>
                            <div class="loyalty__img ">
                                <img src="assets/images/doc.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" style="background-image:url('assets/images/bg-slider.jpg');">
                    <div class="loyalty">
                        <div class="loyalty__wrap">
                            <div class="loyalty__col">
                                <span class="loyalty__stock">Акция</span>
                                <h2 class="loyalty__title">Расшифровка анализов у любого доктора</h2>
                                <div class="loyalty__row">
                                    <span class="loyalty__subtext">800 руб.</span>
                                    <span class="loyalty__percent">-30%</span>
                                </div>
                                <span class="loyalty__text">500 руб.</span>
                                <span class="loyalty__info">Акция действует до 30.09.2021 г.</span>
                                <div class="loyalty__row">
                                    <div class="loyalty__btn">
                                        <button type="button" class="btn primary">Записаться</button>
                                    </div>
                                    <div class="loyalty__btn">
                                        <button type="button" class="btn secondary">Подробнее</button>
                                    </div>
                                </div>
                            </div>
                            <div class="loyalty__img ">
                                <img src="assets/images/doc2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" style="background-image:url('assets/images/bg-slider.jpg');">
                    <div class="loyalty">
                        <div class="loyalty__wrap">
                            <div class="loyalty__col">
                                <span class="loyalty__stock">Акция</span>
                                <h2 class="loyalty__title">ЭКГ + Эхо-кг</h2>
                                <div class="loyalty__row">
                                    <span class="loyalty__subtext">4 150 руб.</span>
                                    <span class="loyalty__percent">-30%</span>
                                </div>
                                <span class="loyalty__text">2 900 руб.</span>
                                <span class="loyalty__info">Акция действует до 30.09.2021 г.</span>
                                <div class="loyalty__row">
                                    <div class="loyalty__btn">
                                        <button type="button" class="btn primary">Записаться</button>
                                    </div>
                                    <div class="loyalty__btn">
                                        <button type="button" class="btn secondary">Подробнее</button>
                                    </div>
                                </div>
                            </div>
                            <div class="loyalty__img ">
                                <img src="assets/images/doc3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" style="background-image:url('assets/images/bg-slider.jpg');">
                    <div class="loyalty">
                        <div class="loyalty__wrap">
                            <div class="loyalty__col">
                                <span class="loyalty__stock">Акция</span>
                                <h2 class="loyalty__title">УЗИ </h2>
                                <span class="loyalty__text">-50% на вторую локацию</span>
                                <span class="loyalty__info">Акция действует до 30.09.2021 г.</span>
                                <div class="loyalty__row">
                                    <div class="loyalty__btn">
                                        <button type="button" class="btn primary">Записаться</button>
                                    </div>
                                    <div class="loyalty__btn">
                                        <button type="button" class="btn secondary">Подробнее</button>
                                    </div>
                                </div>
                            </div>
                            <div class="loyalty__img ">
                                <img src="assets/images/doc4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide" style="background-image:url('assets/images/bg-slider.jpg');">
                    <div class="loyalty">
                        <div class="loyalty__wrap">
                            <div class="loyalty__col">
                                <span class="loyalty__stock">Акция</span>
                                <h2 class="loyalty__title">Прием любого врача</h2>
                                <span class="loyalty__text mb-22">+ УЗИ + ЭКГ</span>
                                <span class="loyalty__text">4 200руб.</span>
                                <span class="loyalty__info">Акция действует до 30.09.2021 г.</span>
                                <div class="loyalty__row">
                                    <div class="loyalty__btn">
                                        <button type="button" class="btn primary">Записаться</button>
                                    </div>
                                    <div class="loyalty__btn">
                                        <button type="button" class="btn secondary">Подробнее</button>
                                    </div>
                                </div>
                            </div>
                            <div class="loyalty__img ">
                                <img src="assets/images/doc5.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

    </div>
</section>