// Breakpoints
$breakpoints: (
  'phone-sm': 320px,
  'phone-md': 375px,
  'phone': 480px,
  'phone-lg': 576px, 
  'tablet': 768px,
  'tablet-lg': 992px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'widescreen-md': 1360px,
  'widescreen-lg': 1440px,
  'full-hd': 1920px,
);

// Colors
$black: #000000;
$white: #FFFFFF;
$border: #CCCCCC;
$success: #28A745;
$warning: #FFC117;
$error: #DC3545;

// Fonts
$primary-font: 'Proxima Nova Rg';
$secondary-font: 'Proxima Nova';
$tertiary-font: 'Museo Sans Cyrl 500';
$four-font:'Museo Sans Cyrl 700';
// Other
$base-transition: all 0.3s ease;