.header {
  &__wrap {
    display: flex;
    flex-direction: column;
  }
}

.header-top {
  position: relative;
  display: flex;
  align-items: center;
  background: $white;
  height: 5.8rem;
  transition: height 0.5s ease-in-out;
  transition: $base-transition;
  padding-bottom: 0.6rem;

  border-bottom: 1px solid rgba(233, 233, 233, 0.8);
  @include media('>=phone-lg') {
    height: 10.2rem;
  }
  @include media('>=tablet') {
    margin-bottom: 1.6rem;
  }

  &__wrap {
    display: flex;
    align-items: center;

    flex-direction: column;
    width: 100%;
    @include media('>=phone') {
      flex-direction: row;
      justify-content: center;
    }
    @include media('>=tablet') {
      justify-content: space-between;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
  }
  &__social {
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
  }
  &__contact {
    display: none;
    @include media('>=phone-lg') {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__icons-wrap {
    display: none;
    @include media('>=phone-lg') {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.2rem;
      height: 3.2rem;
      background-color: #014751;
      border-radius: 50%;
      transition: $base-transition;
    }

    & + & {
      margin-left: 0.4rem;
    }
    @include media('>=desktop') {
      &:hover {
        background-color: $black;

        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.7rem;
    height: 1.7rem;

    svg {
      width: 100%;
      display: block;

      path {
        transition: $base-transition;
      }
    }
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #035063;
    opacity: 0.6;
  }

  &__tel {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: #035063;
    @include media('>=tablet-lg') {
      font-size: 24px;
    }
  }
  &__mail {
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #014751;
  }

  &__mobail {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    @include media('>=phone-lg') {
      display: none;
    }
  }
}
.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;

  &__link {
    display: flex;
    align-items: center;
    width: 17.6rem;
    height: 5rem;
    position: relative;
    @include media('>=phone-lg') {
      margin-right: 2rem;
    }
    @include media('>=tablet') {
      margin-right: 8rem;
      height: 7.6rem;
    }
    @include media('>=tablet') {
      width: 34.3rem;
      height: 7.6rem;
    }

    &::before {
      @include media('>=tablet') {
        content: '';
        position: absolute;
        right: -4rem;
        top: 50%;
        transform: translateY(-50%);
        border-right: 1px solid rgba(233, 233, 233, 0.8);
        height: 5.5rem;
      }
    }

    img {
      width: 100%;
      display: block;
    }
  }
  &__adress {
    display: none;
    @include media('>=desktop') {
      display: block;
    }
  }

  &__col {
    display: flex;
    align-items: center;
  }

  &__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #014751;
    font-family: $primary-font;
  }

  &__subtext {
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    color: #014751;
  }
  .color {
    color: #878787;
    margin-left: 0.5rem;
  }

  &__icon {
    width: 1.3rem;
    height: 1.8rem;
    margin-right: 0.8rem;

    svg {
      width: 100%;
      display: block;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: #014751;
  z-index: 5;
  transition: $base-transition;
  transform: translateX(110%);
  @include media('>=phone-lg') {
    top: 102px;
  }
  @include media('>=tablet') {
    flex-direction: row;
    justify-content: space-between;
    position: static;
    background-color: $white;
    transform: translateX(0);
    padding: 0;
    width: auto;
    min-height: auto;
  }

  &.active {
    transform: translateX(0);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 2;

    width: 100%;
    @include media('>=tablet') {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #11839e;
    padding-bottom: 1rem;
    width: 100%;
    @include media('>=tablet') {
      width: auto;
      border: none;
      padding: 0;
    }
    & + & {
      margin-top: 10px;
      @include media('>=tablet') {
        margin-top: 0;
      }
    }
    @include media('>=widescreen') {
      &::before {
        content: '';
        position: absolute;
        right: -3rem;
        top: 50%;
        transform: translateY(-50%);
        border-right: 1px solid rgba(233, 233, 233, 0.8);
        height: 2.4rem;
      }
      &:last-child {
        &::before {
          border: none;
        }
      }
    }
  }
  &__link {
    font-weight: 800;
    font-size: 10px;
    line-height: 150%;
    text-transform: uppercase;
    color: $white;
    transition: $base-transition;
    @include media('>=tablet') {
      color: #035063;
    }
    @include media('>=tablet-lg') {
      font-size: 14px;
    }
    @include media('>=widescreen-md') {
      font-size: 16px;
    }
    @include media('>=desktop') {
      &:hover {
        color: #11839e;
      }
    }

    &.active {
      color: #11839e;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 4rem;
    @include media('>=tablet') {
      margin-top: 0;
      justify-content: flex-end;
      width: 60%;
    }
    @include media('>=tablet-lg') {
      width: 43%;
    }

    .btn {
      font-size: 1.2rem;
      @include media('>=widescreen') {
        font-size: 1.6rem;
      }
    }
  }

  &__search {
    display: none;
    @include media('>=tablet') {
      display: block;
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 4rem;
    }

    svg {
      width: 100%;
      display: block;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.3rem;
    flex: none;
    margin-bottom: 3rem;

    @include media('>=tablet') {
      margin-bottom: 0;
      margin-right: 4rem;
    }

    svg {
      width: 100%;
      display: block;
      g {
        opacity: 1;
        path {
          fill: $white;
        }
      }
      @include media('>=tablet') {
        g {
          opacity: 0.16;
          path {
            fill: #035063;
          }
        }
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.6rem;
    width: 2.4rem;
    height: 1.6rem;

    svg {
      width: 100%;
      display: block;
      transition: $base-transition;
      line {
        stroke: $white;
      }
      circle {
        fill: $white;
      }
      @include media('>=tablet') {
        line {
          stroke: #035063;
        }
        circle {
          fill: #035063;
        }
      }
    }
  }
}

.burger {
  width: 29px;
  height: 29px;
  position: fixed;
  top: 1.5rem;
  left: 1rem;
  z-index: 6;
  @extend %d-flex-column;
  justify-content: center;
  align-items: flex-start;
  @include media('>=phone-lg') {
    top: 3.5rem;
  }
  @include media('>=tablet') {
    display: none;
  }

  &.active {
    .burger {
      top: 4.5rem;
    }
    span {
      position: absolute;

      &:nth-child(1) {
        top: 13px;
        left: 0;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        width: 100%;
        top: 2px;
        left: 0;
        transform: rotate(-45deg);
      }
    }
  }

  span {
    width: 100%;
    transition: $base-transition;
    background-color: #014751;
    border: 2px solid #014751;
    border-radius: 4px;

    &:nth-child(1) {
      margin-bottom: 11px;
    }

    &:nth-child(3) {
      margin-top: 11px;
      width: 18px;
    }
  }
}
