<header class="header">
    <div class=" header__wrap">
        <div id="header-top" class="header-top">
            <div class="container">
                <div class="header-top__wrap">
                    <div class="logo">
                        <a href="index.html" class="logo__link">
                            <img src="assets/images/logo.svg" alt="">
                        </a>
                        <a href="#" class="logo__adress">
                            <span class="logo__col">
                                <span class="logo__icon">
                                    @@include('../svg-icons/icon__map.html')
                                </span>
                                <span class="logo__text">Москва</span>
                            </span>
                            <div class="logo__col">
                                <span class="logo__subtext">7 клиник </span>
                                <span class="logo__subtext color">рядом с Вами!</span>
                            </div>
                        </a>
                    </div>
                    <div class="header-top__contacts">
                        <div class="header-top__social">
                            <a href="" class="header-top__icons-wrap">
                                <span class="header-top__icons">
                                    @@include('../svg-icons/Viber.html')
                                </span>
                            </a>
                            <a href="" class="header-top__icons-wrap">
                                <span class="header-top__icons">
                                    @@include('../svg-icons/telegramm.html')
                                </span>
                            </a>
                            <a href="" class="header-top__icons-wrap">
                                <span class="header-top__icons">
                                    @@include('../svg-icons/WhatsApp.html')
                                </span>
                            </a>
                        </div>
                        <div class="header-top__contact">
                            <div class="header-top__title">Запись на приём</div>
                            <a href="tel:84955404803" class="header-top__tel">8 (495) 540-48-03</a>
                            <a href="mailto:medgorod@bk.ru" class="header-top__mail">medgorod@bk.ru</a>
                        </div>
                    </div>
                    <a href="tel:84955404803" class="header-top__mobail">
                        <span class="header-top__mobail-icon">
                            @@include('../svg-icons/phone.html')
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <nav class="nav js-burger" id="nav">
                <a href="" class="nav__icons">
                    @@include('../svg-icons/home.html')
                </a>
                <ul class="nav__list">
                    <li class="nav__item">
                        <button type="button" class="nav__icon">
                            @@include('../svg-icons/menu_list.html')
                        </button>
                        <a class="nav__link" href="">Услуги</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">О клинике</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Врачи</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Цены</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Отзывы</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link active" href="">Акции</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Клиники</a>
                    </li>
                </ul>
                <div class="nav__btn">
                    <button type="button" class="nav__search">
                        <span class="nav__icon">
                            @@include('../svg-icons/search.html')
                        </span>
                    </button>
                    <button type="button" class="btn primary">Обратный звонок</button>
                </div>
            </nav>
        </div>
        <div class="burger js-burger-open">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>